*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.container .fab{
    color:blue;
    font-size:80px;
}

.container .notify::before{
    content:attr(data-count); 
    position:absolute;
    font-size:30px;
    font-weight: bold;
    color:white;
    padding:5px 12px;
    background: linear-gradient(#ff1a1a , #ff0000, #e60000);
    border-radius:50%;
    line-height: 85%;
    opacity:0;
    transition: opacity 0.1s ease-out;
}

.notify.add-num::before{
    opacity:1;
}

.container .btn{
    margin:30px;
    padding:10px;
    color:white;
    background-color:rgb(63, 63, 148);
    border:none;
    border-radius:5px;
    cursor:pointer;
}

